#textdomain wesnoth-The_Ice_Age
[scenario]
	id=26_Final_Engagement
	next_scenario=Epilogue
	name=A Final Engagement
	victory_when_enemies_defeated=no
	map_data="{~add-ons/The_Ice_Age/maps/26_Final_Engagement.map}"
	turns=-1

	{DEEP_UNDERGROUND}

	{SCENARIO_MUSIC "gathering_storm.ogg"}
	{EXTRA_SCENARIO_MUSIC "Moleman.ogg"}

	[event]
		name=prestart
		[objectives]
			side=1
			[objective]
				description= _ "No question about it, this time"
				condition=win
			[/objective]
			[objective]
				description= _ "YOU MUST DEFEAT GEANNAN"
				condition=win
			[/objective]
			[objective]
				description= _ "Death of a Hero"
				condition=lose
			[/objective]
			{IS_LAST_SCENARIO}
		[/objectives]
	[/event]
	[event]
		name=start
		[recall]
			id=Madoc
		[/recall]
		[recall]
			id=Stripes
		[/recall]
		[recall]
			id=Cutie
		[/recall]
		[recall]
			id=Sister
		[/recall]
		[recall]
			id=Ashkenaz
		[/recall]
		[recall]
			id=Oldman
		[/recall]
		[message]
			speaker=Jobath
			message= _ "No more running, Geannan. This time, you're through!"
		[/message]
		[message]
			speaker=Geannan
			message= _ "Silly boy. I'll simply destroy you right where you stand."
		[/message]
		[message]
			speaker=Geannan
			message= _ "Nolchi-Alti!"
		[/message]
		[message]
			speaker=narrator
			message= _ "A large magic missile came flying at Jobath. He couldn't do anything to avoid the impending doom. Jobath waited for it to hit him."
			image=wesnoth-icon.png
		[/message]
		# Now we see what this stone is REALLY good for
		[message]
			speaker=narrator
			message= _ "However, it never did. The Stone of Destiny, glowing with power, merely absorbed Geannan's curse."
			image=wesnoth-icon.png
		[/message]
		[message]
			speaker=Geannan
			message= _ "What?!? How can this be?"
		[/message]
		[message]
			speaker=Jobath
			message= _ "Prepare to meet your end, Geannan. You'll not escape this time!"
		[/message]
	[/event]

	[side]
		side=1
		color=frozen
		controller=human
		team_name=1
		user_team_name= _ "The Forces of the King"

		type=Young_chieftain
		id=Jobath
		name= _ "Jobath"
		profile=portraits/Jobath.png
		shroud=yes
		unrenameable=yes
		canrecruit=yes
		[modifications]
			{TRAIT_DEXTROUS}
			{TRAIT_STRONG}
		[/modifications]

		recruit=
		{GOLD 450 400 350}
		{ICE_FLAG}
		{INCOME 12 8 6}
	[/side]
	[side]
		side=2
		controller=ai
		team_name=2
		user_team_name= _ "Geannan"

		type=Dark_Bard
		id=Geannan
		name=Geannan
		canrecruit=yes
		recruit=Shadow Trooper,Shadow Mammoth,Shadow Enforcer,Shadow Mage,Shadow Hud,Shadow Phantarch,Shadow Fighter,Shadow Captain,Shadow Marshal,Shadow Hero,Shadow Champion,Shadow Assassin,Shadow Slayer,Shadow Nightblade,Shadow Hunter,Shadow Sportsman,Shadow Deerstalker
		{GOLD 300 450 600}
		{INCOME 15 20 30}
		[unit]
			type=Shadow Champion
			id=Guard1
			name= _ "Plus"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=2
			x=24
			y=15
		[/unit]
		[unit]
			type=Shadow Phantarch
			id=Guard2
			name= _ "Minus"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=2
			x=26
			y=16
		[/unit]
		#ifdef NORMAL
		[unit]
			type=Shadow Trooper
			id=Guard3
			name= _ "Times"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=2
			x=33
			y=15
		[/unit]
		[unit]
			type=Shadow Trooper
			id=Guard4
			name= _ "Divide"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=2
			x=30
			y=18
		[/unit]
		#endif
		#ifdef HARD
		[unit]
			type=Shadow Trooper
			id=Guard3
			name= _ "Times"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=2
			x=33
			y=15
		[/unit]
		[unit]
			type=Shadow Trooper
			id=Guard4
			name= _ "Divide"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=2
			x=30
			y=18
		[/unit]
		[unit]
			type=Shadow Enforcer
			id=Guard5
			name= _ "Sum"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=2
			x=30
			y=14
		[/unit]
		#endif
	[/side]
	{LIMIT_CONTEMPORANEOUS_RECRUITS 2 "Shadow Trooper" 2}
	{LIMIT_CONTEMPORANEOUS_RECRUITS 2 "Shadow Mammoth" 1}
	{LIMIT_CONTEMPORANEOUS_RECRUITS 2 "Shadow Enforcer" 1}
	[side]
		side=3
		controller=ai
		team_name=1
		user_team_name= _ "Christine and Co."
		no_leader=yes
		hidden=yes
	[/side]
	[side]
		side=4
		controller=ai
		team_name=2
		user_team_name= _ "Guards"
		no_leader=yes
		hidden=yes
		[unit]
			type=Shadow Enforcer
			id=Guard6
			name= _ "Hel"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=4
			x=32
			y=11
		[/unit]
		[unit]
			type=Shadow Enforcer
			id=Guard7
			name= _ "Lo"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=4
			x=34
			y=11
		[/unit]
		[unit]
			type=Shadow Trooper
			id=Guard8
			name= _ "Wor"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=4
			x=32
			y=6
		[/unit]
		[unit]
			type=Shadow Trooper
			id=Guard9
			name= _ "Ld"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=4
			x=34
			y=6
		[/unit]
		#ifdef NORMAL
		[unit]
			type=Shadow Mammoth
			id=Guard10
			name= _ "Fluffy II"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=4
			x=27
			y=3
		[/unit]
		#endif
		[unit]
			type=Shadow Champion
			id=Guard11
			name= _ "Plus II"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=4
			x=28
			y=1
		[/unit]
		[unit]
			type=Shadow Phantarch
			id=Guard12
			name= _ "Minus II"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=4
			x=26
			y=5
		[/unit]
		#ifdef HARD
		[unit]
			type=Shadow Mammoth
			id=Guard10
			name= _ "Fluffy II"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=4
			x=27
			y=3
		[/unit]
		[unit]
			type=Shadow Mammoth
			id=Guard13
			name= _ "Fluffy III"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=4
			x=23
			y=4
		[/unit]
		[unit]
			type=Shadow Mammoth
			id=Guard14
			name= _ "Fluffy IV"
			ai_special=guardian
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			side=4
			x=26
			y=1
		[/unit]
		#endif
	[/side]
	[event]
		name=attack
		[filter_second]
			id=Geannan
		[/filter_second]
		[message]
			speaker=Geannan
			message= _ "Say, Jobath. While we're all here together, I can tell you about the orcs. Magnificient creatures. Rather easy to work with as well."
		[/message]
		[message]
			speaker=Geannan
			message= _ "Most of them tend to have problems passing through portals as easily as you and I, but that wasn't too much trouble for someone like me."
		[/message]
		[message]
			speaker=Geannan
			message= _ "You see, goblins and orcs are fundamentally the same. With a few enhancements here and there, they are indistinguishable from the real thing. Fine work, if I do say so myself."
		[/message]
		[message]
			speaker=Jobath
			message= _ "Why are you telling me this now?"
		[/message]
		[message]
			speaker=Geannan
			message= _ "So you won't have any more questions...once you're <b>dead</b>!"
		[/message]
	[/event]

	[event]
		name=last breath
		[filter]
			id="Geannan"
		[/filter]
		[message]
			speaker=unit
			message= _ "YOU CAN'T DEFEAT ME!!"
		[/message]
		[message]
			speaker=unit
			message= _ "Nogard a ebot tnaw-i"
		[/message]
		[sound]
			name=lightning.ogg
		[/sound]
		[kill]
			id=Geannan
		[/kill]
		[color_adjust]
			red=100
			green=100
			blue=100
		[/color_adjust]
		[delay]
			time=500
		[/delay]

		[color_adjust]
			red=0
			green=0
			blue=0
		[/color_adjust]

		[sound]
			name=drake-die-1.ogg
		[/sound]

		[color_adjust]
			red=200
			green=100
			blue=100
		[/color_adjust]
		[delay]
			time=500
		[/delay]

		[color_adjust]
			red=0
			green=0
			blue=0
		[/color_adjust]
		[unit]
			id=Geannan2
			name= _"Geannan"
			type=Fire Dragon
			side=2
			canrecruit=yes
			x=33
			y=10
		[/unit]
		{QUAKE "rumble.ogg"}
		[terrain]
			terrain=Uu
			x=32-34
			y=13
		[/terrain]
		[remove_shroud]
			x,y=33,10
			radius=2
		[/remove_shroud]
		[redraw][/redraw]
		[gold]
			side=2
			{QUANTITY amount 125 200 250}
		[/gold]
		[unit]
			type=Fire Wraith
			side=2
			x=30
			y=10
			animate=yes
		[/unit]
		[unit]
			type=Fire Wraith
			side=2
			x=36
			y=10
			animate=yes
		[/unit]
		{REPLACE_SCENARIO_MUSIC "In_the_Land_of_Madness.ogg"}
		[message]
			speaker=Jobath
			message= _ "YIKES!"
		[/message]
		[message]
			speaker=Madoc
			message= _ "uh oh."
		[/message]
		[message]
			speaker=Jobath
			message= _ "How? What? When? YIKES!"
		[/message]
		[message]
			speaker=Geannan2
			message= _ "<span size='large'>*with Belches of fire coming out of his mouth* LIKE I SAID YOU CAN'T DEFEAT ME!</span>"
		[/message]
		[message]
			speaker=Jobath
			message= _ "<span size='large'>*Gulp*</span>"
		[/message]
	[/event]
	[event]
		name=last breath
		[filter]
			id="Geannan2"
		[/filter]
		[message]
			speaker=unit
			message= _ "YOU CAN'T DEFEAT ME"
		[/message]
		[message]
			speaker=unit
			message= _ "Nogard enob a ebot tnaw-i"
		[/message]
		[sound]
			name=drake-die-1.ogg
		[/sound]
		[kill]
			id=Geannan2
		[/kill]
		[color_adjust]
			red=200
			green=100
			blue=100
		[/color_adjust]
		[delay]
			time=500
		[/delay]

		[color_adjust]
			red=0
			green=0
			blue=0
		[/color_adjust]

		[sound]
			name=skeleton-big-die.ogg
		[/sound]

		[color_adjust]
			red=100
			green=100
			blue=200
		[/color_adjust]
		[delay]
			time=500
		[/delay]

		[color_adjust]
			red=0
			green=0
			blue=0
		[/color_adjust]
		[unit]
			id=Geannan3
			name= _"Geannan"
			type=Skeletal Dragon
			side=2
			canrecruit=yes
			x=33
			y=5
		[/unit]
		{QUAKE "rumble.ogg"}
		[terrain]
			terrain=Uu
			x=32-34
			y=8
		[/terrain]
		[remove_shroud]
			x,y=33,5
			radius=2
		[/remove_shroud]
		[redraw][/redraw]
		[gold]
			side=2
			{QUANTITY amount 150 200 250}
		[/gold]
		[message]
			speaker=Jobath
			message= _ "COME ON!"
		[/message]
		[message]
			speaker=Geannan3
			message= _ "<span size='large'>with Clanking of Bones* LIKE I SAID BEFORE YOU CAN'T DEFEAT ME!</span>"
		[/message]
		[message]
			speaker=Jobath
			message= _ "Grrrrr"
		[/message]
	[/event]
	[event]
		name=last breath
		[filter]
			id="Geannan3"
		[/filter]
		[message]
			speaker=unit
			message= _ "YOU WILL NEVER DEFEAT ME"
		[/message]
		[message]
			speaker=unit
			message= _ "Egam-rebu a ebot tnaw-i"
		[/message]
		[sound]
			name=skeleton-die-1.ogg
		[/sound]
		[kill]
			id=Geannan3
		[/kill]
		[color_adjust]
			red=200
			green=100
			blue=100
		[/color_adjust]
		[delay]
			time=300
		[/delay]

		[color_adjust]
			red=0
			green=0
			blue=0
		[/color_adjust]

		[sound]
			name=lich-die.ogg
		[/sound]

		[color_adjust]
			red=100
			green=200
			blue=100
		[/color_adjust]
		[delay]
			time=300
		[/delay]

		[color_adjust]
			red=0
			green=0
			blue=0
		[/color_adjust]
		[unit]
			id=Geannan4
			name= _"Mal-Gann"
			type=Ancient Lich
			side=2
			canrecruit=yes
			x=24
			y=2
		[/unit]
		{QUAKE "rumble.ogg"}
		[terrain]
			terrain=Uu
			x=30
			y=4
		[/terrain]
		[terrain]
			terrain=Uu
			x=31
			y=4
		[/terrain]
		[terrain]
			terrain=Uu
			x=32
			y=3
		[/terrain]
		[remove_shroud]
			x,y=24,2
			radius=3
		[/remove_shroud]
		[redraw][/redraw]
		[gold]
			side=2
			{QUANTITY amount 250 300 400}
		[/gold]
		[message]
			speaker=Jobath
			message= _ "AW MAN!"
		[/message]
		[message]
			speaker=Geannan4
			message= _ "CLACK-CLACK!"
		[/message]
		[message]
			speaker=Geannan4
			message= _ "You really thought you could defeat me? Even through your battles, I have led you here. Just give up now, and join me. I still have quite a lot of power in both worlds."
		[/message]

		[message]
			speaker=Jobath
			message= _ "No. No. No, Geannan. Your evil has consequences. You cannot worm out of it now. We have come to finish what should have ended eighty years ago."
		[/message]
	[/event]
	[event]
		name=last breath
		[filter]
			id="Geannan4"
		[/filter]
		[message]
			speaker=unit
			message= _ "URG.. YOU... DEFEATED ME."
		[/message]
		[message]
			speaker=unit
			message= _ "NOOOOOOOOOOOOOOOOOO."
		[/message]
		[sound]
			name=skeleton-die-1.ogg
		[/sound]

		[color_adjust]
			red=-200
			green=-200
			blue=-200
		[/color_adjust]
		[delay]
			time=900
		[/delay]

		[color_adjust]
			red=0
			green=0
			blue=0
		[/color_adjust]
		[kill]
			id=Geannan4
			animate=yes
		[/kill]
		[sound]
			name=lich-die.ogg
		[/sound]

		[color_adjust]
			red=200
			green=200
			blue=200
		[/color_adjust]
		[delay]
			time=900
		[/delay]

		[color_adjust]
			red=0
			green=0
			blue=0
		[/color_adjust]
		[message]
			speaker=Jobath
			message= _ "YAY!"
		[/message]
		[message]
			speaker=narrator
			message= _ "Then there was a rumble, and our heroes saw the entrance caving in."
			image=wesnoth-icon.png
		[/message]
		#units escape
		[move_unit]
			x=1-8
			y=1-10
			to_x,to_y=22,12
		[/move_unit]
		{QUAKE "rumble.ogg"}
		[terrain]
			terrain=Xu
			x=1-8
			y=1-10
		[/terrain]
		#exit becomes accessible:
		[terrain]
			terrain=Uu
			x=30
			y=20
		[/terrain]
		[remove_shroud]
			x,y=30,20
			radius=3
		[/remove_shroud]
		[redraw]
		[/redraw]

		[message]
			speaker=Jobath
			message= _ "We must find another exit! Hurry, everyone!"
		[/message]
		{VARIABLE geannan_dead yes}
		{REPLACE_SCENARIO_MUSIC "underground.ogg"}
		[event]
			name=moveto
			[filter]
				side=1
				x=28-32
				y=19-23
			[/filter]

			[unit]
				type=Mine Cart
				id=ChuChu
				name= _ "Mine Cart"
				side=3
				x=28
				y=25
			[/unit]
			[unit]
				side=3
				id=Chris
				name= _ "Christine"
				type=Great Troll
				x,y=28,24
				unrenamable=no
				gender=female
			[/unit]
			[unit]
				side=3
				id=Pat
				name= _ "Patty"
				type=Troll
				x,y=32,23
				unrenamable=no
			[/unit]
			[unit]
				side=3
				id=Bob
				name= _ "Maria"
				type=Troll
				x,y=31,25
				unrenamable=no
				gender=female
			[/unit]
			[unit]
				side=3
				id=Joe
				name= _ "Bill"
				type=Troll
				x,y=1,28
				unrenamable=no
			[/unit]
			[unit]
				side=3
				id=Nancy
				name= _ "Nancy"
				type=Troll Rocklobber
				x,y=24,23
				unrenamable=no
				gender=female
			[/unit]
			[unit]
				type=Troll Whelp
				id=Morbin
				name= _ "Morbin"
				side=3
				x=1
				y=29
			[/unit]
			[remove_shroud]
				side=1
				x=0-99
				y=0-99
			[/remove_shroud]
			[if]
				[variable]
					name=Troll_payoff
					equals=yes
				[/variable]
				[then]
					[message]
						speaker=Nancy
						message= _ "LOOK IT'S DA NICE CHUMPS WHO PAID TOLL!"
					[/message]
					[message]
						speaker=Jobath
						message= _ "um...Yes?"
					[/message]
					[message]
						speaker=Chris
						message= _ "WILL YOU PAY TOLL AGAIN?"
					[/message]
					[message]
						speaker=Jobath
						message= _ "For what?"
					[/message]

					[message]
						speaker=Pat
						message= _ "For ride on monorail."
					[/message]

					[message]
						speaker=Jobath
						message= _ "How much does it cost?"
					[/message]
					[message]
						speaker=Bob
						message= _ "uh...How much you got?"
					[/message]

					[message]
						speaker=Madoc
						message= _ "Say 1 gold?"
					[/message]

					[message]
						speaker=Chris
						message= _ "NOT ENOUGH! Maybe more like 200?"
					[/message]

					[message]
						speaker=Jobath
						message= _ "100."
					[/message]
					[message]
						speaker=Pat
						message= _ "199."
					[/message]
					[message]
						speaker=Jobath
						message= _ "150."
					[/message]
					[message]
						speaker=Bob
						message= _ "300."
					[/message]
					[message]
						speaker=Jobath
						message= _ "150."
					[/message]
					[message]
						speaker=Nancy
						message= _ "100."
					[/message]
					[message]
						speaker=Jobath
						message= _ "How about we just give you <i>all</i> of our gold?"
					[/message]
					[store_gold]
						side=1
						variable=gold
					[/store_gold]
					[message]
						speaker=Nancy
						message= _ "HUH? EXTRA!"
					[/message]
					[message]
						speaker=Chris
						message= _ "That's MINE! Er, heheh. We'll share. Oh yes."
					[/message]
					[message]
						speaker=narrator
						message= _ "The trolls flashed toothy grins at Jobath and the others."
						image=wesnoth-icon.png
					[/message]
					[message]
						speaker=Bob
						message= _ "Everybody in!"
					[/message]
					[message]
						speaker=narrator
						message= _ "Our heroes all entered into the mine carts and, with a push from Christine, they were on their way."
						image=wesnoth-icon.png
					[/message]
					{MOVE_UNIT id=ChuChu 1 30}
					[message]
						speaker=Morbin
						message= _ "Byebye!"
					[/message]
					[kill]
						id=ChuChu
					[/kill]
					[endlevel]
						result=victory
					[/endlevel]
				[/then]
				[else]
					[message]
						speaker=Chris
						message= _ "Well, well, if it isn't those silly humans who think they don't have to pay the toll."
					[/message]
					[message]
						speaker=Jobath
						message= _ "How can this be? Didn't we utterly vanquish you at the bridge?"
					[/message]
					[message]
						speaker=Chris
						message= _ "Silly tiny person. You think we would let ourselves get killed by <i>wimpy</i> humans?"
					[/message]
					[message]
						speaker=Bob
						message= _ "But now, they need us, don't they?"
					[/message]
					[message]
						speaker=Pat
						message= _ "Yeah, that's right. They need us now."
					[/message]
					[message]
						speaker=Nancy
						message= _ "Now they have to pay the toll."
					[/message]
					[message]
						speaker=Jobath
						message= _ "Toll? Again? What is it for this time?"
					[/message]
					[message]
						speaker=Chris
						message= _ "For ride on monorail. You see it?"
					[/message]
					[message]
						speaker=ChuChu
						message= _ "..."
					[/message]
					[message]
						speaker=Madoc
						message= _ "That's not exactly a-"
					[/message]
					[message]
						speaker=Nancy
						message= _ "Well? What you say? Pay toll, and you can leave. Don't pay toll, and get squashed."
					[/message]
					[message]
						speaker=Madoc
						message= _ "How much is it this time?"
					[/message]
					[message]
						speaker=Chris
						message= _ "One hundred gold at least."
					[/message]
					[message]
						speaker=Jobath
						message= _ "Tell you what, how about we give you the whole lot, all our gold?"
					[/message]
					[message]
						speaker=Bob
						message= _ "You would really do that?"
					[/message]
					[message]
						speaker=Jobath
						message= _ "We have no need of it anymore. You can have it. ALL of it."
					[/message]
					[store_gold]
						side=1
						variable=gold
					[/store_gold]
					[message]
						speaker=Chris
						message= _ "That's MINE! Er, heheh. We'll share. Oh yes."
					[/message]
					[message]
						speaker=narrator
						message= _ "The trolls flashed toothy grins at Jobath and the others."
						image=wesnoth-icon.png
					[/message]
					[message]
						speaker=Bob
						message= _ "Everybody in!"
					[/message]
					{MOVE_UNIT id=ChuChu 1 30}
					[message]
						speaker=Morbin
						message= _ "Byebye!"
					[/message]
					[kill]
						id=ChuChu
					[/kill]
					[endlevel]
						result=victory
					[/endlevel]
				[/else]
			[/if]
		[/event]
	[/event]

	{HERO_DEATHS}
	{~add-ons/The_Ice_Age/utils/deaths.cfg}
	{~add-ons/The_Ice_Age/utils/flag.cfg}
	{HEALER_RECALL}
[/scenario]
