#textdomain wesnoth-The_Ice_Age
[unit_type]
	id=Spy
	name= _ "Spy"
	race=iceage
	gender=male
	image="units/spy/spy.png"
	profile=portraits/humans/thief.png
	hitpoints=30
	movement_type=lighticefoot
	movement=6
	experience=28
	level=1
	alignment=chaotic
	advances_to=Saboteur
	cost=16
	usage=fighter
	description= _ "Spies are commonly given the duties of a scout among the Ice Age people. They specialize in undercover work and sneaking. The initiates of this group often dye their hair blue in a somewhat childish rite."
	die_sound={SOUND_LIST:HUMAN_DIE}
	{DEFENSE_ANIM "units/spy/spy.png" "units/spy/spy.png" {SOUND_LIST:HUMAN_HIT} }
	[abilities]
		{ABILITY_AMBUSH}
	[/abilities]
	[attack]
		name=dagger
		description=_"dagger"
		icon=attacks/dagger-human.png
		type=blade
		range=melee
		damage=5
		number=3
		[specials]
			{WEAPON_SPECIAL_BACKSTAB}
		[/specials]
	[/attack]
	[attack_anim]
		[filter_attack]
			name=dagger
		[/filter_attack]
		[frame]
			begin=-150
			end=-100
			image="units/spy/spy.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				begin=-100
				end=100
				image="units/spy/spy.png"
				sound=dagger-swish.wav
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-100
				end=100
				image="units/spy/spy.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
		[frame]
			begin=100
			end=150
			image="units/spy/spy.png"
		[/frame]
	[/attack_anim]
[/unit_type]