#textdomain wesnoth-The_Ice_Age
[unit_type]
    id=Rabid_Sabre
    name= _ "Rabid Sabre Tooth"
    race=monster
    image="units/monsters/cat/tritail-sitting.png"
    profile="portraits/monsters/tritail-cat.webp"
    hitpoints=52
    movement_type=iceagefoot
    movement=8
    experience=150
    {AMLA_DEFAULT}
    level=2
    alignment=neutral
    advances_to=null
    undead_variation=mounted
    cost=27
    usage=scout
    description=_ "Of course, no Ice Age campaign would be complete without a badass saber-tooth. This particular cat contracted rabies recently, and is highly contagious. It goes crazy at the sight of fresh meat. All would do well to steer clear of this ferocious beast."
    die_sound=jaguar-hit.ogg
    [resistance]
        cold=50
        pierce=100
        impact=90
        arcane=100
    [/resistance]
    [defense]
        village=60
        frozen=60
        forest=60
        flat=70
        castle=50
        mountains=50
        hills=60
    [/defense]    
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_FEEDING}
    [/abilities]
    [attack]
        name=bite
        description=_"bite"
        icon=attacks/fangs-animal.png
        type=blade
        range=melee
        damage=8
        number=4
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_AWEN}
        [/specials]
    [/attack]
	[standing_anim]
        start_time=-50
        [frame]
            image="units/monsters/cat/tritail.png:150"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=-50
        {STANDARD_IDLE_FILTER}
        [frame]
            image="units/monsters/cat/tritail-sitting.png:150"
        [/frame]
    [/standing_anim]
    [pre_movement_anim]
        start_time=0
        {STANDARD_IDLE_FILTER}
        [frame]
            image="units/monsters/cat/tritail-transition[2,1].png:100"
        [/frame]
    [/pre_movement_anim]
    [post_movement_anim]
        start_time=0
        {STANDARD_IDLE_FILTER}
        [frame]
            image="units/monsters/cat/tritail-transition[1,2].png:100"
        [/frame]
    [/post_movement_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="units/monsters/cat/tritail.png:150"
        [/frame]
    [/movement_anim]
    {DEFENSE_ANIM_FILTERED "units/monsters/cat/tritail-fangs-defend2.png" "units/monsters/cat/tritail-fangs-defend1.png" {SOUND_LIST:DRAKE_HIT} (
        [filter_second_attack]
            name=bite
        [/filter_second_attack]
    )}
    [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        cat_offset=0.0~-0.1:300,-0.1~0.65:200,0.65:100,0.65~0.0:300
        cat_y=0:300,0~-8:145,-8~0:125,0:330
        cat_start_time=-500
        [cat_frame]
            image="units/monsters/cat/tritail-fangs[1~5,1].png:[125,150,100,125,150,250]"
            auto_vflip=no
            layer=40
        [/cat_frame]
        offset=0.0~-0.1:300,-0.1~0.65:200,0.65:100,0.65~0.0:300
        start_time=-500
        [frame]
            image="units/monsters/cat/tritail-fangs-shadow.png:[900]"
            layer=39
            # sound={SOUND_LIST:WOLF_GROWL} # replace this
        [/frame]
        {SOUND:HIT bite.ogg -100}
    [/attack_anim]
[/unit_type]
