#textdomain wesnoth-The_Ice_Age
#The Units Here are Only Usalbe in Debug Mode
[unit_type]
    id=Teleporter
    name="Invisible"
    alpha=0.0
    hitpoints=1
    experience=1
    race=monster
    {AMLA_DEFAULT}
    level=0
    alignment=neutral
    advances_to=null
    cost=0
    usage=null
    description= _ "A unit that teleports..."
    hide_help=true
    movement=1
    [abilities]
        {ABILITY_TELEPORT}
    [/abilities]
    [animation]
        apply_to=pre_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/gold-teleport-9.png,halo/gold-teleport-8.png,halo/gold-teleport-1.png,halo/gold-teleport-2.png,halo/gold-teleport-3.png,halo/gold-teleport-4.png,halo/gold-teleport-5.png,halo/gold-teleport-6.png,halo/gold-teleport-7.png,halo/gold-teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=-10
            halo_y=30~-30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/gold-teleport-9.png,halo/gold-teleport-8.png,halo/gold-teleport-1.png,halo/gold-teleport-2.png,halo/gold-teleport-3.png,halo/gold-teleport-4.png,halo/gold-teleport-5.png,halo/gold-teleport-6.png,halo/gold-teleport-7.png,halo/gold-teleport-8.png,halo/gold-teleport-9.png,misc/blank-hex.png:1
            halo_x=0
            halo_y=40~-40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/gold-teleport-9.png,halo/gold-teleport-8.png,halo/gold-teleport-1.png,halo/gold-teleport-2.png,halo/gold-teleport-3.png,halo/gold-teleport-4.png,halo/gold-teleport-5.png,halo/gold-teleport-6.png,halo/gold-teleport-7.png,halo/gold-teleport-8.png,halo/gold-teleport-9.png,misc/blank-hex.png:1
            halo_x=10
            halo_y=30~-30
        [/teleport_sparkle_3_frame]

        [frame]
            duration=200
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
            sound=heal.wav
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=300
            image="misc/blank-hex.png"
        [/frame]
    [/animation]

    [animation]
        apply_to=post_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/gold-teleport-9.png,halo/gold-teleport-8.png,halo/gold-teleport-1.png,halo/gold-teleport-2.png,halo/gold-teleport-3.png,halo/gold-teleport-4.png,halo/gold-teleport-5.png,halo/gold-teleport-6.png,halo/gold-teleport-7.png,halo/gold-teleport-8.png,halo/gold-teleport-9.png,misc/blank-hex.png:1
            halo_x=10
            halo_y=-30~30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/gold-teleport-9.png,halo/gold-teleport-8.png,halo/gold-teleport-1.png,halo/gold-teleport-2.png,halo/gold-teleport-3.png,halo/gold-teleport-4.png,halo/gold-teleport-5.png,halo/gold-teleport-6.png,halo/gold-teleport-7.png,halo/gold-teleport-8.png,halo/gold-teleport-9.png,misc/blank-hex.png:1
            halo_x=0
            halo_y=-40~40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/gold-teleport-9.png,halo/gold-teleport-8.png,halo/gold-teleport-1.png,halo/gold-teleport-2.png,halo/gold-teleport-3.png,halo/gold-teleport-4.png,halo/gold-teleport-5.png,halo/gold-teleport-6.png,halo/gold-teleport-7.png,halo/gold-teleport-8.png,halo/gold-teleport-9.png,misc/blank-hex.png:1
            halo_x=-10
            halo_y=-30~30
        [/teleport_sparkle_3_frame]
        [frame]
            duration=300
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
            sound=heal.wav
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=200
            image="misc/blank-hex.png"
        [/frame]
    [/animation]

[/unit_type]
[unit_type]
    id=Mine Cart
    name="Mine Cart"
    image="units/minecart.png"
    hitpoints=1
    race=mechanical
    experience=1
    {AMLA_DEFAULT}
    level=0
    alignment=neutral
    advances_to=null
    cost=1
    usage=null
    movement_type=dwarvishfoot
    description= _ "A mine cart used for transport of people and ore."
    hide_help=true
    movement=60
[/unit_type]