#textdomain wesnoth-The_Ice_Age

#placeholder for colorchange
#define GRIZZLY_CS
#enddef

[unit_type]
    id=Grizzly Bear
    name= _ "Grizzly Bear"
    image="units/monsters/bear/bear.png{GRIZZLY_CS}"
    profile="portraits/monsters/bear.webp"
    {DEFENSE_ANIM "units/monsters/bear/bear-defend2.png{GRIZZLY_CS}" "units/monsters/bear/bear-defend1.png{GRIZZLY_CS}" {SOUND_LIST:DRAKE_HIT} }
    hitpoints=50
	race=monster
    movement_type=dwarvishfoot
    movement=6
    experience=150
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=77
    usage=fighter
    description=_ "The grizzly is the most ferocious bear known to man. It can run at speeds of over 45 miles per hour, and can kill a man in a single swipe of its massive claws."
    die_sound=drake-die.ogg
    undead_variation=wolf
    [standing_anim]
        start_time=-50
        [frame]
            image="units/monsters/bear/bear.png{GRIZZLY_CS}:50"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=-50
        terrain_type=!,*^B*,Cme*^*,Kme*^*,Wwr*^*,Wwf*^*,!,Chs*^*,Chw*^*,Cm*^*,Km*^*,W*^*,S*^*,*^Vm
        [frame]
            image="units/monsters/bear/bear-water.png{GRIZZLY_CS}:50"
        [/frame]
    [/standing_anim]
    [defense]
        village=50
    [/defense]
    [attack]
        name=claws
        description=_"Claws"
        icon=attacks/claws-animal.png
        type=blade
        range=melee
        damage=24
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-400
        offset=0.0:200,0.0~0.6:200,0.6~0.0:300
        [frame]
            image=units/monsters/bear/bear-claws[1~6].png{GRIZZLY_CS}:[100*6]
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-400
        offset=0.0:350,0.0~0.6:170,0.6~0.0:280
        [frame]
            image=units/monsters/bear/bear-2claws[1~8].png{GRIZZLY_CS}:[100*8]
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

#undef GRIZZLY_CS