#textdomain wesnoth-The_Ice_Age

#Some more things taken from IftU

#undef MISSILE_FRAME_STONE_GAZE
#define MISSILE_FRAME_STONE_GAZE
    [missile_frame]
        offset=1.0
        begin=-200
        end=0
        image="projectiles/gaze.png"
        image_diagonal="projectiles/gaze.png"
    [/missile_frame]
#enddef

#undef MISSILE_FRAME_BOLAS
#define MISSILE_FRAME_BOLAS
    [missile_frame]
        begin=-150
        end=0
        image=projectiles/bolas-n.png
        image_diagonal=projectiles/bolas-ne.png
    [/missile_frame]
#enddef

#define BURST_FRAME_FAERIE_MYSTIC_FIRE
    burst_start_time=0
    burst_offset=0.8~1.0

    [burst_frame]
        halo="projectiles/fire-burst-small-[1~8].png:75"
    [/burst_frame]
#enddef

#define MELEE_FRAME_FIRE_AURA _MELEE_FRAME _BASE_FRAME
    start_time=-150
    [if]
        hits=no
        [frame]
            image={_BASE_FRAME}:50,{_MELEE_FRAME}:200,{_BASE_FRAME}:200
        [/frame]
    [/if]
    [else]
        hits=yes
        [frame]
            halo="projectiles/fire-burst-small-[1~8].png:50"
            image={_BASE_FRAME}:50,{_MELEE_FRAME}:200,{_BASE_FRAME}:200
        [/frame]
    [/else]

    {SOUND:HIT_AND_MISS fire.wav {SOUND_LIST:MISS} -75}
#enddef

#define MISSILE_FRAME_FAERIE_MYSTIC_FIRE
    specialfx_auto_vflip=false
    specialfx_start_time=-330

    [specialfx_frame]
        halo="halo/saurian-magic-halo-[1~7].png:50"
    [/specialfx_frame]

    {MISSILE_FRAME_FIRE_BREATH 12,-39 12,19 25,-26 27,19}
#enddef

# _RIMG : reaction frame image
# _BIMG : base frame image
# _RSND : hit sound/soundlist
#undef FLYING_DEFENSE_ANIM _RIMG _BIMG _RSND
#define FLYING_DEFENSE_ANIM _RIMG _BIMG _RSND
    [defend]
        [if]
            hits=miss
            offset=0.0~-0.15,-0.15~0.0
        [/if]
        start_time=-126
        [frame]
            duration=1
            image={_BIMG}
        [/frame]
        [frame]
            duration=100
            image={_RIMG}
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image={_RIMG}
                sound={_RSND}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image={_RIMG}
            [/frame]
        [/else]
        [frame]
            duration=1
            image={_BIMG}
        [/frame]
    [/defend]
#enddef
