########################################################################
############			Wintermonster abilities				############
########################################################################

#define SOF_ABILITY_SNOWREGEN
    # Canned definition of the Snow Regenerate ability to be included in an [abilities]
    # clause.
    [regenerate]
        value=8
        id=sof_snow_regenerates
        name= _ "cryoregenerates"
        female_name= _ "female^cryoregenerates"
        description= _ "The unit will heal itself 8 HP per turn if on a frozen base terrain. If it is poisoned, it will remove the poison instead of healing."
        special_note={INTERNAL:SPECIAL_NOTES_REGENERATES}
        affect_self=yes
        poison=cured
        [filter]
            [filter_location]
                terrain=A*^*,Ha^*,Ms^*
            [/filter_location]
        [/filter]
    [/regenerate]
#enddef