#textdomain wesnoth-The_Ice_Age
[unit_type]
    id=IAHero
    name= _ "Benjamite"
    race=iceage
    gender=male
    image="units/fenian/benjam.png"
    profile="portraits/humans/outlaw.png"
    hitpoints=42
    movement_type=lighticefoot
    movement=7
    level=2
    alignment=neutral
    experience=77
    advances_to=Davidian
    cost=28
    usage=mixed fighter
    description= _ "The Benjamites are a special clan among this ancient people. Their great skill with the sling is not to be underestimated."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/fenian/benjam.png" "units/fenian/benjam.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=mace-spiked
        description=_"Mace"
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=sling
        description=_"Sling"
        type=impact
        range=ranged
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sling
        [/filter_attack]
        offset=0.0
        [if]
            hits=yes
            {MISSILE_FRAME_STONE_HIT 5 -6}
            [frame]
                begin=-400
                end=-150
                image="units/fenian/benjam.png"
                sound=sling.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            {MISSILE_FRAME_STONE_MISS 5 -6}
            [frame]
                begin=-400
                end=-150
                image="units/fenian/benjam.png"
                sound=sling-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-150
            end=50
            image="units/fenian/benjam.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=mace-spiked
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/fenian/benjam.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/fenian/benjam.png"
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/fenian/benjam.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/fenian/benjam.png"
        [/frame]
    [/attack_anim]
[/unit_type]
